In [2]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn import tree
from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus
import pandas as pd
import numpy as np
%matplotlib inline

In [13]:
# import data
df = pd.read_csv('data/input/BankNote_Authentication.csv', header=None).drop(0)

In [14]:
df.head()

         0        1        2         3  4
1   3.6216   8.6661  -2.8073  -0.44699  0
2   4.5459   8.1674  -2.4586   -1.4621  0
3    3.866  -2.6383   1.9242   0.10645  0
4   3.4566   9.5228  -4.0112   -3.5944  0
5  0.32924  -4.4552   4.5718   -0.9888  0

In [15]:
df.columns = ['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class']

In [16]:
df.head()

  Variance Skewness Curtosis   Entropy Class
1   3.6216   8.6661  -2.8073  -0.44699     0
2   4.5459   8.1674  -2.4586   -1.4621     0
3    3.866  -2.6383   1.9242   0.10645     0
4   3.4566   9.5228  -4.0112   -3.5944     0
5  0.32924  -4.4552   4.5718   -0.9888     0

In [17]:
df.describe()

       Variance Skewness Curtosis  Entropy Class
count      1372     1372     1372     1372  1372
unique     1338     1256     1270     1156     2
top      0.5706  -4.4552   3.0895  -0.9888     0
freq          5        6        5        5   762

In [19]:
df.shape

(1372, 5)

In [20]:
df.Class.value_counts()

0    762
1    610
Name: Class, dtype: int64

In [ ]:
# create features and labels, training and test dataset

In [21]:
X = df.drop('Class', axis=1)
y = df['Class']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [ ]:
# train classifier and make predictions

In [23]:
classfier = DecisionTreeClassifier(random_state=10)
classfier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=10,
            splitter='best')

In [25]:
# make predictions
y_pred = classfier.predict(X_test)

In [ ]:
# check performance

In [26]:
# accuracy
accuracy = accuracy_score(y_test, y_pred) * 100
accuracy

97.81818181818181

In [50]:
y_test = np.array(y_test)
y_test

array(['0', '0', '1', '0', '1', '1', '1', '0', '0', '0', '1', '1', '1',
       '0', '0', '1', '0', '0', '1', '0', '0', '0', '1', '0', '1', '1',
       '1', '1', '1', '0', '1', '0', '0', '1', '0', '0', '0', '1', '0',
       '0', '0', '0', '0', '1', '1', '0', '0', '0', '1', '0', '0', '0',
       '0', '1', '1', '0', '0', '1', '1', '0', '1', '0', '1', '0', '0',
       '0', '0', '0', '0', '1', '0', '1', '1', '0', '1', '0', '0', '0',
       '1', '1', '1', '0', '1', '1', '0', '1', '0', '0', '0', '1', '1',
       '0', '1', '0', '1', '0', '1', '1', '0', '0', '0', '1', '1', '1',
       '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '1', '1', '0',
       '0', '1', '1', '0', '0', '1', '0', '1', '1', '0', '1', '0', '0',
       '0', '0', '0', '1', '1', '1', '0', '1', '0', '1', '0', '0', '0',
       '0', '0', '0', '0', '0', '1', '0', '1', '0', '0', '1', '1', '0',
       '0', '0', '0', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1',
       '0', '0', '1', '1', '1', '1', '1', '1', '0', '0', '0', '1', '0',
       '1', '1', '1', '1', '1', '0', '1', '0', '0', '1', '1', '1', '0',
       '0', '0', '0', '0', '1', '1', '0', '0', '1', '1', '0', '0', '0',
       '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '1', '1',
       '0', '1', '1', '0', '0', '1', '0', '0', '1', '0', '0', '0', '0',
       '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '0', '1', '1',
       '0', '1', '1', '1', '1', '1', '0', '1', '0', '1', '0', '1', '0',
       '0', '0', '0', '0', '1', '1', '1', '0', '1', '0', '0', '0', '1',
       '0', '0'], dtype=object)

In [51]:
# AUC
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)
print('\nAUC is : {}'.format(round(roc_auc, 2)))

ValueError: Data is not binary and pos_label is not specified